<a href="https://colab.research.google.com/github/lmatospereira/monster_attack/blob/devlop/desafiotera.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Tabuleiro**: 4x4 (16 posições)

**Ações:**

← ir para esquerda

→ ir para direita

↑ ir para cima

↓ ir para baixo

A atacar

**Regras:**
* Uma ação por vez (movimentar ou atacar)
* Não existe ação diagonal
* Não dá para atravessar paredes
* Um ataque mata o Wumpus, mas você só
tem um único ataque
* Pontos
  * -1 para cada movimento
  * -10 se atacar|

In [ ]:
import random

class Jogo:
    def __init__(self): # Construtor da classe jogo https://www.treinaweb.com.br/blog/orientacao-a-objetos-em-python#:~:text=Para%20declarar%20um%20atributo%20em,ser%C3%A1%20criada%20em%20nosso%20programa.
        self.tabuleiro = [['-' for _ in range(4)] for _ in range(4)] # preenchendo a matriz com e  "_" no laço é apenas para melhor compreensão
        self.jogador = [0, 0] 
        self.wumpus = None
        self.buraco = None
        self.tesouro = None
        self.pontos = 10

    def gerar_posicao_aleatoria(self): # função para gerar posição aleatória na matriz https://www.geeksforgeeks.org/python-randint-function/
        return [random.randint(0, 3), random.randint(0, 3)]

    def iniciar(self):        
        self.jogador = [0, 0]
        self.wumpus = self.gerar_posicao_aleatoria()
        self.buraco = self.gerar_posicao_aleatoria()
        self.tesouro = self.gerar_posicao_aleatoria()
        while self.buraco == self.wumpus: # para evitar que o wunpus e o buraco fiquem no mesmo espaço
            self.buraco = self.gerar_posicao_aleatoria()
        self.tabuleiro[self.jogador[0]][self.jogador[1]] = 'J' # atribuindo o caractere J na posição do jogador
        self.tabuleiro[self.wumpus[0]][self.wumpus[1]] = '-'
        self.tabuleiro[self.buraco[0]][self.buraco[1]] = '-'
        self.tabuleiro[self.tesouro[0]][self.tesouro[1]] = '-'


    def imprimir_tabuleiro(self):
        for x in range(4):
            for y in range(4):
                print(self.tabuleiro[x][y], end=' ') # o end evita que o python quebre a linha 
            print()    
    
    
    def finaliza_jogo(self,nova_posicao):
      self.tabuleiro[self.jogador[0]][self.jogador[1]] = '-' # trocando o caracterer da posicao atual do jogador
      self.jogador = nova_posicao
      self.tabuleiro[self.jogador[0]][self.jogador[1]] = 'X' # trocando o caracterer da posicao atual do jogador      
      return True

    def imprimir_pontos(self):
      return print(self.pontos)

    def mover_jogador(self, direcao):
        nova_posicao = [self.jogador[0], self.jogador[1]] # recuperando a posição do jogagor

        if direcao == 'esquerda' or direcao == 'atarcar-esquerda': # validando o comando e subitraindo o elemento da y
            nova_posicao[1] -= 1
            print(nova_posicao)
        elif direcao == 'direita' or direcao == 'atarcar-direita':# validando o comando e adicionando o elemento da y
            nova_posicao[1] += 1
            print(nova_posicao)
        elif direcao == 'cima' or direcao == 'atarcar-cima':# validando o comando e adicionando o elemento da x
            nova_posicao[0] -= 1
            print(nova_posicao)
        elif direcao == 'baixo' or direcao == 'atarcar-baixo':# validando o comando e adicionando o elemento da x
            nova_posicao[0] += 1
            print(nova_posicao)

        if nova_posicao[0] < 0 or nova_posicao[0] > 3 or nova_posicao[1] < 0 or nova_posicao[1] > 3: # validando as paredes
            print('Movimento inválido.')
            return False
        
        if self.tabuleiro[nova_posicao[0]][nova_posicao[1]] == 'B': # valiando se caractere da posição é o buraco 
            print(nova_posicao)
            print('Você caiu em um buraco!')
            self.pontos -= 10
            self.finaliza_jogo(nova_posicao)            
        
        if self.tabuleiro[nova_posicao[0]][nova_posicao[1]] == 'W':# valiando se caractere da posição é o wunpus
          print(nova_posicao)
          print('Você econtrou o Wumpus!')
          self.pontos -= 10
          self.finaliza_jogo(nova_posicao)
        
        if self.tabuleiro[nova_posicao[0]][nova_posicao[1]] == 'T': # valiando se caractere da posição é o wunpus
          print(nova_posicao)
          print('Você econtrou o Tesouro!')
          self.pontos += 10
          self.finaliza_jogo(nova_posicao)
        
        self.tabuleiro[self.jogador[0]][self.jogador[1]] = '-' # trocando o caracterer da posicao atual do jogador 
        self.jogador = nova_posicao # recupentado a nova posição 
        self.tabuleiro[self.jogador[0]][self.jogador[1]] = 'J' # trocando o caracterer da posicao atual do jogador
        self.pontos -= 1
        return True


jogo = Jogo()
jogo.iniciar()
jogo.imprimir_tabuleiro()

while True:
  jogo.imprimir_pontos()
  acao = input('Digite sua ação (esquerda, direita, cima, baixo, atacar): ')
  jogo.mover_jogador(acao)
  jogo.imprimir_tabuleiro()

J - - -
- - - -
- - - -
- - - -
10

##Desaﬁo
Concatene listas
Seu código deve:
* usar duas listas de mesmo tamanho
* devolver uma lista final de tuplas
Obs:
* Use essas listas como exemplo:
  * first_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
  * second_list = [0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
first_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
second_list = [0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

result = zip(first_list, second_list)
print(tuple(result))

((0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81), (10, 100))

**Encontre a interseção**

Seu código deve:
* usar dois conjuntos
* devolver um conjunto com elementos da interseção

Obs:
* Use esses conjuntos como exemplo:
  * first_set = {23, 42, 65, 57, 78, 83, 29}
  * second_set = {57, 83, 29, 67, 73, 43, 48}

In [ ]:
first_set = {23, 42, 65, 57, 78, 83, 29}
second_set = {57, 83, 29, 67, 73, 43, 48}
print(f"método intersecção first_set.intersection(second_set) {first_set.intersection(second_set)} \
mas pode ser usando da seguinte maneira first_set &  second_set {first_set & second_set}")

método intersecção first_set.intersection(second_set) {57, 83, 29} mas pode ser usando da seguinte maneira first_set &  second_set {57, 83, 29}

**Crie função e use conjuntos**

Sua função deve:
* receber dois conjuntos como argumento
* ser capaz de dizer se o primeiro conjunto é um sub-conjunto do segundo.


Obs:
* Não há a necessidade do inverso ser verdadeiro.
* Use esses conjuntos como exemplo:
  * first_set = {57, 83, 29}
  * second_set = {57, 83, 29, 67, 73, 43, 48}
* Teste com exemplos que são False

In [ ]:
def verifica_subconjunto(first_set: set, second_set: set) -> True:
  return first_set.issubset(second_set) 

first_set = {57, 83, 29}
second_set = {57, 83, 29, 67, 73, 43, 48}
third_set = {3,5,10}

first_and_second = verifica_subconjunto(first_set,second_set)
first_and_third = verifica_subconjunto(first_set,third_set)

print(f' first_and_second = {first_and_second} first_and_third = {first_and_third}')

True False

Encontre e Destrua
Sua função deve:
* receber um dicionário como primeiro argumento e um inteiro como segundo
* criar um novo dicionário sem os elementos que possuem tal valor caso
esteja presente
Obs:
* Número de exemplo: 13
* Use o seguinte dicionário como exemplo


```
 preferences = {
   "Aline": 10, "Jorge": 2, "Fabiola": 4,
   "Jana": 13, "Wanda": 14, "Iago": 22
   "Jefinho": 9, "Helton": 6, "Maria": 13,
   "André": 19, "Diogo": 5, "Maiara":13
}
```

In [ ]:
def encontre_destrua(lista: dict, indice: int) -> dict:
  list = [key for key, value in preferences.items() if value == indice]
  result = [lista.pop(key, None) for key in list]   
  return lista
 
preferences = {
    "Aline": 10, "Jorge": 2, "Fabiola": 4,
    "Jana": 13, "Wanda": 14, "Iago": 22,
    "Jefinho": 9, "Helton": 6, "Maria": 13,
    "André": 19, "Diogo": 5, "Maiara":13
}
encontre_destrua(preferences,13)

{'Aline': 10,
 'Jorge': 2,
 'Fabiola': 4,
 'Wanda': 14,
 'Iago': 22,
 'Jefinho': 9,
 'Helton': 6,
 'André': 19,
 'Diogo': 5}

**Desenvolva um bot!**

Ele deve:

* Ficar esperando uma mensagem sua
* Se você disser “oi” ele deve responder com "Olá humano, tudo certo?"
* Se você disser “quem é você”, ele deve responder com:
 "Eu sou a GALATERA, uma Inteligência Artificial"

* Se você disser qualquer outra coisa, ele deve responder “Que ótimo! Espero
que você seja feliz!”

**Obs:**
* Use loops e condicionais
* Não se esqueça do input
* Tente imprimir com “human: ” e “bot: ” para facilitar

In [ ]:
class bot:
    def __init__(self): # Construtor da classe jogo https://www.treinaweb.com.br/blog/orientacao-a-objetos-em-python#:~:text=Para%20declarar%20um%20atributo%20em,ser%C3%A1%20criada%20em%20nosso%20programa.
        self.nome = 'GALATERA' # preenchendo a matriz com e  "_" no laço é apenas para melhor compreensão
        self.nome_usuario = None
        self.contato_inicial = 0
    
    def recupera_nome_usuario(self):
      self.nome_usuario = input('Qual é o seu nome ?')
      self.contato_inicial += 1

    def proxima_resposta(self):
      return input(f"{self.nome_usuario:} ")
    
    def resposta_usuario(self, resposta):
      if resposta.lower() == 'oi':
        print(f"{self.nome}: Olá {self.nome_usuario}, tudo certo?")
      elif resposta.lower() == 'quem e voce':
        print(f"{self.nome}: Eu sou a {self.nome}, uma Inteligência Artificial")
      else:
        print(f"{self.nome}: Que ótimo! Esperoque você seja feliz!")
        return False
     
      return True
    
    def iniciar(self):
      while True:
        
        if self.contato_inicial == 0:
          self.recupera_nome_usuario()
        resposta = self.proxima_resposta()
        self.resposta_usuario(resposta)


bot = bot()
bot.iniciar()

**Elementos especíﬁcos**

Dada a lista a seguir:

> data = [2,9,1,3,5,2,7,5,8,2,1,5,6,9,5,5,7,5,3,2,6,4,1,4,9,8,7]

* Como selecionar o 7o elemento?
* E os 5 primeiros?
* E os 3 últimos?]
* Como ordenar do maior para o menor?
* E do menor para o maior?

In [ ]:
data = [2,9,1,3,5,2,7,5,8,2,1,5,6,9,5,5,7,5,3,2,6,4,1,4,9,8,7]

print(f"Como selecionar o 7º elemento:{data[7]}\nComo selecionar os 5 elemento{data[:5]}\nComo selecionar os 3 últimos:{data[-3:]}")

Como selecionar o 7º elemento:5
Como selecionar os 5 elemento[2, 9, 1, 3, 5]
Como selecionar os 3 últimos:[9, 8, 7]

##Elementos únicos

Dada a lista a seguir:

data = [2,9,1,3,5,2,7,5,8,2,1,5,6,9,5,5,7,5,3,2,6,4,1,4,9,8,7]

* Como retornar apenas os números únicos?

In [ ]:
data = [2,9,1,3,5,2,7,5,8,2,1,5,6,9,5,5,7,5,3,2,6,4,1,4,9,8,7]

unicos = list(set(data))

print(unicos)

##Elementos em ordem

Dada a lista a seguir:

data = [2,9,1,3,5,2,7,5,8,2,1,5,6,9,5,5,7,5,3,2,6,4,1,4,9,8,7]
* Como ordenar do maior para o menor?
* E do menor para o maior?

In [4]:
data = [2,9,1,3,5,2,7,5,8,2,1,5,6,9,5,5,7,5,3,2,6,4,1,4,9,8,7]
print(f"lista do maior para o menor{sorted(data,reverse=True)}\nlista do menor para o maior{sorted(data)}")

lista do maior para o menor[9, 9, 9, 8, 8, 7, 7, 7, 6, 6, 5, 5, 5, 5, 5, 5, 4, 4, 3, 3, 2, 2, 2, 2, 1, 1, 1]
lista do menor para o maior[1, 1, 1, 2, 2, 2, 2, 3, 3, 4, 4, 5, 5, 5, 5, 5, 5, 6, 6, 7, 7, 7, 8, 8, 9, 9, 9]

##Elementos aleatórios

Dada a lista a seguir:

data = [2,9,1,3,5,2,7,5,8,2,1,5,6,9,5,5,7,5,3,2,6,4,1,4,9,8,7]

* Como retornar 10 números aleatórios?

In [5]:
import random

data = [2,9,1,3,5,2,7,5,8,2,1,5,6,9,5,5,7,5,3,2,6,4,1,4,9,8,7]

aleatorios = random.sample(data, 10)

print(aleatorios)

[9, 7, 6, 3, 9, 4, 5, 2, 5, 1]

##filter com funções
Dada a lista a seguir:

data = [2,9,1,3,5,2,7,5,8,2,1,5,6,9,5,5,7,5,3,2,6,4,1,4,9,8,7]

* Como retornar os números maiores do que 5?

In [7]:
data = [2,9,1,3,5,2,7,5,8,2,1,5,6,9,5,5,7,5,3,2,6,4,1,4,9,8,7]

def maior_que_cinco(valor):
  return valor > 5

list(filter(maior_que_cinco, data))

[9, 7, 8, 6, 9, 7, 6, 9, 8, 7]

## Filter string
Dada a lista a seguir:

data = "Mar calmo não faz bom marinheiro e nem boa capitã"

* Como retornar os elementos que não possuem a letra “o”?

In [ ]:
from functools import reduce

data = "Mar calmo não faz bom marinheiro e nem boa capitã"

reduce(data)

##Count
Dada a lista a seguir:

data = [2,9,1,3,5,2,7,5,8,2,1,5,6,9,5,5,7,5,3,2,6,4,1,4,9,8,7]

* Como retornar a quantidade de elementos?

In [9]:
data = [2,9,1,3,5,2,7,5,8,2,1,5,6,9,5,5,7,5,3,2,6,4,1,4,9,8,7]

print(f"qunatidade de elementos: {len(data)}")

qunatidade de elementos: 27

##Sum
Dada a lista a seguir:

data = [2,9,1,3,5,2,7,5,8,2,1,5,6,9,5,5,7,5,3,2,6,4,1,4,9,8,7]

* Como retornar a soma de todos os elementos?

In [10]:
data = [2,9,1,3,5,2,7,5,8,2,1,5,6,9,5,5,7,5,3,2,6,4,1,4,9,8,7]

print(f"total: {sum(data)}")

total: 131

##Mean
Dada a lista a seguir:

data = [2,9,1,3,5,2,7,5,8,2,1,5,6,9,5,5,7,5,3,2,6,4,1,4,9,8,7]
* Como retornar a média de todos os elementos?

In [17]:
import statistics

data = [2,9,1,3,5,2,7,5,8,2,1,5,6,9,5,5,7,5,3,2,6,4,1,4,9,8,7]
media = statistics.mean(data)

print(f"soma: {sum(data)}\ntotal de elementos: {len(data)}\nrmédia: {sum(data)/len(data)}valor arredondado{round(sum(data)/len(data))}")
print(f"media: usando a bibliotéca statistics: {media}  valor arredondado: {round(media)}")

soma: 131
total de elementos: 27
rmédia: 4.851851851851852valor arredondado5
media: usando a bibliotéca statistics: 4.851851851851852  valor arredondado: 5

##Group By

Dada a lista a seguir:

data = [2,9,1,3,5,2,7,5,8,2,1,5,6,9,5,5,7,5,3,2,6,4,1,4,9,8,7]

* Como retornar a quantidade agregada por elementos?

In [19]:
from collections import Counter
from functools import reduce

data = [2,9,1,3,5,2,7,5,8,2,1,5,6,9,5,5,7,5,3,2,6,4,1,4,9,8,7]

agregado = reduce(lambda x, y: {**x, y: x.get(y, 0) + 1}, map(str, data), {})

print(agregado)

# agregado = Counter(data)

# print(agregado)

{'2': 4, '9': 3, '1': 3, '3': 2, '5': 6, '7': 3, '8': 2, '6': 2, '4': 2}
Counter({5: 6, 2: 4, 9: 3, 1: 3, 7: 3, 3: 2, 8: 2, 6: 2, 4: 2})

##String
Dada a lista a seguir:

data = [“Bom”, “Bom”, “Ruim”, “Bom”, “Neutro”, “Neutro”, “Neutro”, “Bom”, “Ruim”, “Bom”]

* Como retornar a quantidade agregada por elementos?
* Como retornar apenas o mais frequente?

In [22]:
data = ["Bom", "Bom", "Ruim", "Bom", "Neutro", "Neutro", "Neutro", "Bom", "Ruim", "Bom"]

Counter(data)

Counter({'Bom': 5, 'Ruim': 2, 'Neutro': 3})

##Case
Ler os dados do dataset Titanic
com Python

* Apresente a distribuição dos passageiros que sobreviveram pelo sexo.
* Diga o que mais daria pra fazer.

###Preparando a maquina do colab:

In [23]:
!pip install pandas

import pandas as pd
import numpy as np

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.9/dist-packages (1.4.4)
Requirement already satisfied: numpy>=1.18.5 in /usr/local/lib/python3.9/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.8.1->pandas) (1.15.0)

In [30]:
url = 'https://raw.githubusercontent.com/lmatospereira/monster_attack/main/Pandas%20Basics/AAPL.csv'
df1 = pd.read_csv(url)

df1

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-05-07,205.880005,207.419998,200.830002,202.860001,200.239075,38763700
1,2019-05-08,201.899994,205.339996,201.750000,202.899994,200.278534,26339500
2,2019-05-09,200.399994,201.679993,196.660004,200.720001,198.126709,34908600
3,2019-05-10,197.419998,198.850006,192.770004,197.179993,195.381973,41208700
4,2019-05-13,187.710007,189.479996,182.850006,185.720001,184.026489,57430600
...,...,...,...,...,...,...,...
249,2020-05-01,286.250000,299.000000,285.850006,289.070007,289.070007,60154200
250,2020-05-04,289.170013,293.690002,286.320007,293.160004,293.160004,33392000
251,2020-05-05,295.059998,301.000000,294.459991,297.559998,297.559998,36937800
252,2020-05-06,300.459991,303.239990,298.869995,300.630005,300.630005,35512400
253,2020-05-07,303.220001,305.170013,301.970001,303.619995,303.619995,20745398

##**MAS ANTES DE VOCÊ IR…**
>Temos mais um dataset para você colocar à prova seus novos conhecimentos. São 5 datasets do último ano de 5 das maiores empresas de tecnologia do mundo Apple, Google, Netflix, Amazon e Tesla.
>
>Sua tarefa é adicionar uma coluna com o código de cada ação, passar a data como dtype datatime e transformá-la em index. Depois deve juntar todos os arquivos em um só. Quando tiver feito tudo isso, responda a pergunta: Qual das 5 ações teve a maior média de fechamento no período de julho a setembro de 2019?

dataset para ser usado: [aqui](https://drive.google.com/drive/folders/1fAxAc2L_gmvCaEIWQvCTWUN_NJJVWKou)